#edit_page.col-md-8.col-md-offset-2
    .row
        .panel.panel-default
            .panel-heading
                %h1 Modifica il tuo Pin
            .panel-body
                .current_image
                    %strong.center Immagine corrente
                    = image_tag @pin.image.url(:medium)
                = render 'form'
