= simple_form_for @pin.comments.create, url: pin_comments_path(pin_id: @pin.id), method: :post, remote: true do |f|
	.form-group
		= f.input :body, input_html: { class: 'form-control' }

	= f.button :submit, "Carica il commento", class: "btn btn-primary"
