= simple_form_for @pin.comments.create, url: pin_comments_path(pin_id: @pin.id, id: @pin.user), method: :post, remote: true do |f|
	- if @pin.comments.create.errors.any?
		#errors
			%h2
			= pluralize(@pin.comments.create.errors.count, "error")
			prevented this Comment from saving
	.form-group
		= f.input :body, input_html: { class: 'form-control' }

	= f.button :submit, "Carica il commento", class: "btn btn-primary"
